<%= form_with model: @gym, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>
  <div class=form-group>
    <span class="essential">※</span><%= f.label :ward, "エリア" %>
    <%= f.select :ward, Gym.ward.keys.map {|k| [k, k]}, {}, {class: "form-control", style: "margin-bottom: 15px;", data: {} } %>
  </div>
  <div class="form-group">
    <span class="essential">※</span><%= form.label :address, "住所" %>
    <%= form.text_field :address, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :URL %>
    <%= form.url_field :URL, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :TEL, "電話番号" %>
    <%= form.text_field :TEL, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :img, "店の様子" %>
    <%= f.file_field :img %>
  </div>
  <div class="search-button">
    <%= f.submit button_value, class: "btn btn-primary btn-block" %>
  </div>
<%= end %>
